body {
	margin: 0px;
	padding: 0px;
	position: relative;
  background-color: #e5eae3;
  color: #34495e;
  font-family: ‘Metrophobic’, Arial, serif;
  font-weight: 400;
}

#wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
}

h1 {
  margin: 20px 0 0 0;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.sub {
  color: #34495e;
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
}

#canvas {
  display: block;
  margin: 20px auto;
}

.author {
  text-align: right;
  margin-right: 20px;
}

.author a {
  text-decoration: none;
  color: #2980b9;
}
